@font-face {
  font-family: "DefaultFont";
  src: url("assets/fonts/Margarine-Regular.ttf");
}

@font-face {
  font-family: "English";
  src: url("assets/fonts/Canterbury.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "DefaultFont";
  font-size: 24px;
}

.flex-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1000px;
}

h1 {
  font-family: "English";
  opacity: 0.855;
  font-size: 50px;
}

/* # {
  position: absolute;
  top: 20%;
} */
